<div class="centered">
	<h1>Welcome to {{ title }}!</h1>
</div>
<main class="centered">
	<article>
		<header>
			<h3>Lorem Ipsum</h3>
		</header>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices, augue eu auctor condimentum,
			lorem neque maximus nibh, a fermentum metus velit sit amet nulla. Mauris fermentum urna et varius pharetra.
			Morbi aliquet vitae mauris nec imperdiet. Duis accumsan felis vitae est luctus, sed tempor dolor sodales.
			Aenean eu massa vel enim finibus congue. Sed sollicitudin nunc quis mollis pellentesque. Quisque a
			tincidunt tellus. Nunc eget nulla vehicula, porttitor mi et, luctus lectus. Nulla eget maximus sem.
			Nam pretium euismod tortor, quis accumsan justo porta eget. Nunc ac orci in dui bibendum posuere non non
			nibh. Morbi placerat vehicula aliquam. Integer condimentum, nisi eu elementum volutpat, ante urna laoreet
			libero, ac pretium felis ipsum at ante.
		</p>
		<p>
			Duis vitae ligula efficitur, laoreet velit at, dictum tellus. Vivamus non lorem vitae tortor faucibus
			laoreet nec vel urna. Praesent non dictum lectus, at faucibus urna. Morbi pharetra arcu congue molestie
			maximus. Vivamus non libero ac lacus posuere hendrerit. Cras porttitor orci vel enim commodo, a volutpat
			nibh suscipit. Ut id dictum tellus. In rutrum velit sed diam pharetra, eu tristique libero varius.
			Integer malesuada lectus non hendrerit aliquam. Pellentesque ut quam commodo, gravida sem sed, egestas dui.
		</p>
		<p>
			Duis viverra ante sed sem pretium, dapibus vulputate orci sollicitudin. Quisque ultrices nulla in maximus
			porttitor. Curabitur vitae risus sit amet turpis facilisis tincidunt elementum et urna. Duis efficitur
			luctus gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
			Duis eu velit pretium, efficitur nunc condimentum, mattis ante. Sed mattis ipsum quis tortor aliquet
			convallis. Maecenas suscipit egestas viverra. Suspendisse aliquam dapibus lacus tempor ultricies.
			Ut pellentesque nisl turpis, sollicitudin posuere libero condimentum nec.
		</p>
		<footer class="centered">
			<a href="#"><p>Check this out!</p></a>
		</footer>
	</article>
</main>
